thead>tr>th{
    background-color:#427fef;
    color: white;
}
tr:nth-child(odd){
    background-color:#b0c2b0;
}
table{
    border-spacing: 0px;
    padding: 10px;
    border-collapse: collapse;
}
tr{
    border: solid;
    border-width: 1px 0;
    border-color:#c4dcf3;
}
th{
    padding: 7px;
}
td{
    padding: 7px;
}
/*
    Time: ~35 mins
    What went well: Some parts that went well were creating the table 
    and assigning the different sections to colors. 
    What was difficult: I found the padding and borders difficult, especially
    making horizontal borders, but to vertical borders, but i eventually figured 
    out the border-spacing
*/