thead>tr>th{
    background-color:cornflowerblue;
    color: white;
}
tr:nth-child(odd){
    background-color:lightgrey;
}
tr{
    border-top-width: 1px;
    margin: 10px;
}
table{
    border-spacing: 0px;
    padding: 10px;
}